.subtitulo {
  display: grid;
  color: #066F33;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;  
  background-color: #f4f4f4;
}


.rodape {
  background-color: #f4f4f4;
  padding:20px 15px;
  font-size: large;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  color:#066F33;
}

/*Estilos responsivos*/

@media(max-width: 800px){
 .subtitulo{
  font-size: 1.25rem;
   }

 }

 @media(max-width: 500px){
  .subtitulo{
   font-size: 0.85rem;
      }
    .rodape{
      font-size: 10px;
    }
  }
 