.home-qm {
    background: #f4f4f4;
    padding: 10px 20px;
    border-radius: 4px;
    color: #141414;
    text-transform: uppercase;
    border-radius: 5px;
    border: solid transparent;
}

.start-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px 20px;
    margin: 0 auto;
    max-width: 1200px;
  }

.section-qm{
  background-color: #066F33;
  display: flex;
  margin: 0px auto;
  padding: 30px 20px;
  font-family: Arial, Helvetica, sans-serif;
  gap: 40px;
  justify-content: center;
  
 }

 
 
 p, 
 a,
 h1 , 
 h2, 
 h3 {

  margin: 0px;
 }

 a {
  text-decoration: none;
 }
 
 .section-qm {
  grid-template-columns: 1fr 1fr;
  align-items: center;
 }

 .loja {
  max-width: 100%;
  width: 300px;
 }

 .loja {
 border-radius: 5px;
 }

.texto-qm strong{
 color: aliceblue;
}

.texto-qm {
  font-size: 2rem;
}


/* Resposivos*/

@media (max-width:1000px){
  .section-qm p{
  font-size: 25px;
  }
}

@media (max-width:600px){
  .section-qm p{
  font-size: 13px;
    }
.loja{
  width: 160px;
  }
}

@media (max-width: 600px){
  
  .home-qm{
      font-size: 10px ;
      padding:5px 10px ;
    }
   .start-header .logo{
      width: 150px;
      height: 25px;
    }
 }

 .start-header a:hover {
  border: solid #066F33;
}
  
/* segunda parte*/


.loja-2 {
  max-width: 100%;
  width: 300px;
 }

 .loja-2{
 border-radius: 5px;
 }

 .sg-pt{
  background-color: #ffffff;
  display: flex;
  margin: 0px auto;
  padding: 30px 20px;
  font-family: Arial, Helvetica, sans-serif;
  gap: 40px;
  justify-content: center;
  
 }

 .sg-pt {
  grid-template-columns: 1fr 1fr;
  align-items: center;
 }
 
 .sg-pt 
  h2{
text-align: right;
 }

 .sg-pt 
  h2{
font-size: 2rem;
 }

 .h2, 
 strong{
  color: #066F33;
 }

@media (max-width:1000px){
  .sg-pt p{
  font-size: 25px;
  }
}

@media (max-width:600px){
  .sg-pt h2{
  font-size: 20px;
    }
.loja-2{
  width: 160px;
  }
}

.racao-qm{
  background-color: #066F33;
  padding: 20px 30px;
}

.beneficios-pet{
  margin-bottom: 30px;
  font-size: 1.75rem;
}


.texto-beneficios{
  font-size: 1.25rem;
  line-height: 1.75;
}

.texto-beneficios strong{
  color: #f4f4f4;
}

.racoes-lista-texto{
  padding: 20px;
}

ol{
  margin: 0px;
}


.racoes-lista 
li {
padding: 10px;
line-height: 1.25;
}


  .racoes-container {
    padding: 20px 30px;
    margin-bottom: 80px;
  }

  footer {
    background-color: #066F33;
    color: #f4f4f4;
 }


 .footer-container  {
  display: flex;
  justify-content: space-between;
  padding: 60px 30px;
  gap: 30px;
 }

 .footer-contato a{
  color: #f4f4f4; 
  font-size: 20px;
 }

 .footer-contato{
    display: grid;
    gap: 10px;
 }

 .footer-texto {
 display: grid;
 text-align: center;
 align-content: center;
 }

 .footer-copy {
  text-align: center;
  background-color: #f4f4f4;
  color: #141414;
  padding: 10px 15px;
 }

 @media(max-width:800px) {
  .footer-texto {
    font-size: 1rem;
  }
  .footer-contato a {
    font-size: 1rem;
  }
  .footer-copy {
    font-size: 0.75rem;
  }
 }

 @media(max-width:600px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1.25rem;
  }
 }
  .footer-contato a {
    display: grid;
    justify-content: center;
    font-size: 1rem;
  }
  .footer-copy {
    font-size: 0.75rem;
  }
