.home-qm {
    background: #f4f4f4;
    padding: 10px 20px;
    border-radius: 4px;
    color: #141414;
    text-transform: uppercase;
    border-radius: 5px;
    border: solid transparent;
    align-content: space-between;
  
  
}

.start-header ,home-qm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px 20px;
    margin: 0 auto;
    max-width: 1200px;
  }





.section-qm{
  background-color: #066F33;;
  display: flex;
  margin: 0px auto;
  padding: 30px 20px;
  font-family: Arial, Helvetica, sans-serif;
  gap: 40px;
  justify-content: center;
  
 }

 
 
 p, 
 a,
 h1 , 
 h2, 
 h3 {

  margin: 0px;
 }

 a {
  text-decoration: none;
 }
 
 .section-qm {
  grid-template-columns: 1fr 1fr;
  align-items: center;
 }

 .loja {
  max-width: 100%;
  width: 300px;
 }

 .loja{
 border-radius: 5px;
 }

.texto-qm strong{
 color: aliceblue;
}

.texto-qm {
  font-size: 2rem;
}


/* Resposivos*/

@media (max-width:1000px){
  .section-qm p{
  font-size: 25px;
}
}

@media (max-width:600px){
  .section-qm p{
  font-size: 10px;
  
  }
.loja{
  width: 150px;
  }
}
  
